/*
	CSS for mycanvas.php
	#78A2AD
	#80B4A2
	#DFE3E5
	#CDC4A7
		lighter: #CDC9C2;
		even lighter : #ECBCF0;
	#EADCA7
*/
/*-----------------------------------------------
------------------- MAIN CSS --------------------
-----------------------------------------------*/
body {
	background-color: #DFE3E5;
}

#wrapper {
	max-width: 399px;
	width: 100%;
	font-family: 'Arimo', tahoma, sans-serif;
	margin: 0 auto;
}

header {
	background-color: #ECBCF0;
	border-radius: 5px;
	border: 2px solid #636363;
}

header a {
	text-decoration: none;
}
header a:active {
	color: #000;
}

#headerBox {
	background-color: #FFF;
	width: 90%;
	margin: 0 auto 10px;
	border-radius: 5px;
	border: 1px solid #000;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	font-weight: 100;
	color: #111;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 2px 2px #fff;
}

h2 {
	text-align: center;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: 300;
	font-size: 1.8em;
	color: #111;
}

#avatar {
	display: block;
	margin: 10px auto;
	border-radius: 50px;
}

#subHeader h2 {
	color: #000;
}

.navButton {
	display: block;
	margin: 0 auto 5px;
	width: 100px;
	padding: 5px;
	border: 1px solid #aaa;
}

.navButton:hover {
	border: 1px solid #555;
}

.navButton:active {
	background-color: #fff;
	border: 1px solid #000;
}

#gradeDiv {
	text-align: center;
}

#selectCourseForm {
	clear: both;
}

#selectCourseSelect {
	display: block;
	margin: 10px auto;
	padding: 10px;
}

option {
	padding: 10px;
}

#selectCourse {
	display: block;
	margin: 5px auto 5px;
	padding: 10px;
	box-shadow: 1px 1px #aaa;
	background-color: #eee;
	border: 1px solid #ddd;
	font-weight: 600;
}

#selectCourse:hover {
	border: 1px solid #555;
}

#selectCourse:active {
	background-color: #fff;
	border: 1px solid #000;
}

#infoDiv {
	font-size: 1.5em;
	line-height: 1.5em;
}

#infoDiv li {
	margin-left: 10px;
}

/*--------------- FOOTER ------------------*/
footer {
	height: 150px;
	background-color: #78A2AD;
	clear: both;
}

footer p{
	padding-top: 10px;
	margin-left: 20px;
	font-weight: 200;
	font-size: 1.1em;
	/*line-height: 1.2em;*/
	color: #FFF;
}

/*-------------------------------------------------------------------------------
-----------------------------SMALL MOBILE CSS------------------------------------
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 400px) and (max-width: 599px) {
    #wrapper {
    max-width: 599px;
    width: 100%; 
    }
}

/*-------------------------------------------------------------------------------
-----------------------------LARGE MOBILE CSS------------------------------------
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 960px) {
    #wrapper {
    max-width: 960px;
    width: 100%; 
    }
}

/*-----------------------------------------------------------------------
-----------------------------TABLET CSS----------------------------------
-------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1280px) {
    #wrapper {
        max-width: 1280px;
        width: 100%; 
    }
}

/*------------------------------------------------------------------------
------------------------------DESKTOP CSS---------------------------------
-------------------------------------------------------------------------*/
@media only screen and (min-width: 1280px) {
    #wrapper {
        max-width: 1280px;
        width: 100%; 
        margin: 0 auto;
    }
}   